@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  height: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  min-height: 100%;
  background-color: darkgrey; }

.container {
  margin: 0 auto;
  max-width: 1170px;
  height: 100%;
  position: relative; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex-item {
  display: inline-block;
  margin: 0;
  padding: 0; }

.header {
  margin: 0 auto;
  height: 80px;
  background: #fff;
  padding: 0; }

.logo {
  color: #fd5c08;
  font-size: 3.4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  height: 100%;
  padding: 25px 0; }
  .logo:after {
    content: "\00a9";
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: top;
    display: inline-block;
    padding-top: 7px;
    padding-left: 3px; }

.menu {
  margin: 0;
  padding: 0;
  height: 80px; }
  .menu__item {
    width: 150px;
    display: inline-block;
    height: 100%;
    position: relative; }
    .menu__item a {
      display: block;
      height: 100%;
      text-decoration: none;
      padding: 10px;
      color: #000; }
      .menu__item a div {
        height: 20px;
        width: 20px;
        margin: 0 auto; }
        .menu__item a div svg {
          fill: #000; }
      .menu__item a span {
        display: block;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.3rem;
        margin-top: 15px; }
      .menu__item a:hover, .menu__item a:focus, .menu__item a:active {
        background-color: #fd5c08;
        color: #fff; }
        .menu__item a:hover + .menu__arrow-down, .menu__item a:focus + .menu__arrow-down, .menu__item a:active + .menu__arrow-down {
          border-top: 20px solid #fd5c08; }
        .menu__item a:hover svg, .menu__item a:focus svg, .menu__item a:active svg {
          fill: #FFF; }
  .menu__arrow-down {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 20px solid transparent;
    z-index: 1; }

.footer {
  background-color: #fd5c08;
  height: 215px;
  padding: 75px 0 40px 0;
  color: #fff; }
  .footer__rights {
    width: 500px;
    display: block;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.3; }
  .footer__logo {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right; }
    .footer__logo:after {
      content: "\00a9";
      color: #000;
      font-size: 1rem;
      font-weight: 700;
      vertical-align: top;
      display: inline-block;
      padding-top: 5px; }
  .footer__address {
    display: block;
    font-size: 1rem;
    line-height: 1.6;
    text-align: right;
    text-transform: uppercase;
    margin: 10px 120px  10px 0; }
  .footer__developer {
    text-align: right;
    display: block;
    font-weight: 300; }
    .footer__developer a {
      text-decoration: none;
      font-size: 1.2rem;
      line-height: 1.3;
      color: #fff;
      font-weight: 700; }
      .footer__developer a sub {
        font-size: 1.2rem; }
  .footer__left {
    width: 35%;
    height: 100px; }
  .footer__right {
    width: 60%;
    height: 100px; }

.socials {
  margin: 10px 0 30px 0;
  padding: 0; }

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 20px; }
  .social a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #545357;
    text-decoration: none; }
    .social a svg {
      display: block;
      height: 100%;
      margin: auto;
      fill: #FFF; }
    .social a:hover, .social a:focus, .social a:active {
      background-color: #FFF;
      color: #545357; }
      .social a:hover + .social__arrow-down, .social a:focus + .social__arrow-down, .social a:active + .social__arrow-down {
        border-top: 8px solid #545357; }
      .social a:hover svg, .social a:focus svg, .social a:active svg {
        fill: #fd5c08; }
  .social__arrow-down {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0 solid transparent;
    border-top: 8px solid #fff; }

.intro {
  min-height: 860px;
  min-width: 100%;
  position: relative;
  background-color: lightgrey; }
  .intro__slides {
    height: 100%;
    width: 100%; }
  .intro__slide {
    height: 100%;
    width: 100%; }
  .intro__container {
    position: relative;
    height: 860px;
    width: 100%; }
  .intro__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%; }

.introinfo {
  position: absolute;
  top: 400px;
  left: 0;
  width: 640px;
  z-index: 2;
  background-color: transparent; }
  .introinfo__title {
    font-size: 10rem;
    font-weight: 900;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 10px 0; }
  .introinfo__subtitle {
    font-size: 3.8rem;
    text-transform: uppercase; }
  .introinfo__description {
    font-size: 1.7rem;
    line-height: 1.5;
    padding: 5px 0; }

.destinations {
  height: 1315px;
  background-color: #fff;
  background-image: url("../img/World_map_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; }
  .destinations__btn {
    background-color: #545357;
    width: 140px;
    margin: 30px 20px 0 1010px;
    padding: 15px;
    border: 2px solid transparent;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in; }
    .destinations__btn a {
      background-color: transparent;
      display: block;
      height: 100%;
      width: 100%;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      text-align: center;
      -webkit-transition: all .4s ease-in;
      -o-transition: all .4s ease-in;
      transition: all .4s ease-in; }
      .destinations__btn a:before {
        content: '';
        height: 10px;
        width: 10px;
        display: inline-block;
        margin: 0;
        padding-right: 5px;
        background-image: url("../img/arrow-right-orange.svg");
        background-size: contain;
        background-repeat: no-repeat; }
    .destinations__btn:hover, .destinations__btn:focus, .destinations__btn:active {
      border: 2px solid #fd5c08; }
      .destinations__btn:hover a, .destinations__btn:focus a, .destinations__btn:active a {
        font-weight: 700;
        color: #fd5c08; }
        .destinations__btn:hover a:before, .destinations__btn:focus a:before, .destinations__btn:active a:before {
          height: 14px;
          width: 14px; }

.destinfo {
  padding: 130px 0 115px 0;
  background-color: transparent; }
  .destinfo__title {
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0;
    color: #fd5c08;
    line-height: .7; }
  .destinfo__subtitle {
    color: #3f3e41;
    font-size: 3.4rem;
    line-height: 1.3;
    text-transform: uppercase; }
  .destinfo__description {
    color: #3f3e41;
    font-size: 1.7rem;
    line-height: 2;
    font-weight: 700; }
  .destinfo--left {
    padding-right: 80px; }
  .destinfo--right {
    padding-top: 10px; }

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr); }

.grid-item {
  width: 390px;
  height: 390px;
  position: relative;
  overflow: hidden; }

.layerbg img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.layerinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in; }
  .layerinfo span {
    padding: 5px 0; }
  .layerinfo:hover, .layerinfo:focus {
    -webkit-transform: translate(0, -250px);
    -ms-transform: translate(0, -250px);
    -o-transform: translate(0, -250px);
    transform: translate(0, -250px); }

.price {
  width: 100%;
  height: 390px;
  padding: 30px; }
  .price__start {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .price__cost {
    display: block;
    font-size: 4.2rem;
    font-weight: 900; }
    .price__cost:before {
      content: attr(data-currancy);
      color: #fd5c08;
      font-size: 3.6rem; }

.tour {
  width: 100%;
  height: 250px;
  padding: 30px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  border: none; }
  .tour__country {
    display: block;
    color: #fd5c08;
    font-size: 2.3rem;
    text-transform: uppercase; }
  .tour__location {
    display: block;
    color: #3f3e41;
    font-size: 3.4rem;
    font-weight: 700;
    text-transform: uppercase; }
  .tour__more {
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #3f3e41;
    text-decoration: none;
    -webkit-transition: all .4s  ease-in;
    -o-transition: all .4s  ease-in;
    transition: all .4s  ease-in; }
    .tour__more:before {
      content: '';
      height: 10px;
      width: 10px;
      display: inline-block;
      margin: 0;
      padding-right: 5px;
      background-image: url("../img/arrow-right-orange.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    .tour__more:hover, .tour__more:focus, .tour__more:active {
      font-weight: 700;
      color: #fd5c08; }
      .tour__more:hover:before, .tour__more:focus:before, .tour__more:active:before {
        height: 14px;
        width: 14px; }
  .tour__arrow-up {
    width: 0;
    height: 0;
    outline: none;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 13px solid rgba(255, 255, 255, 0.8);
    margin-left: 30px; }

.map {
  height: 600px;
  width: 100%;
  background-color: lightgrey; }
  .map__title {
    font-size: 0;
    visibility: hidden; }

.befirst {
  height: 350px;
  width: 100%;
  display: block;
  background-color: #fff;
  background-image: url("../img/befirst_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  text-align: center;
  padding: 125px; }
  .befirst__title {
    font-size: 8rem;
    font-weight: 900;
    color: #fd5c08;
    margin: 0 auto;
    text-transform: uppercase; }
  .befirst__subtitle {
    display: block;
    text-transform: uppercase;
    color: #3f3e41;
    font-size: 3.4rem;
    line-height: 1.2; }

.offers {
  width: 100%; }
  .offers__slides {
    height: 100%;
    width: 100%; }
  .offers__slide {
    height: 100%;
    width: 100%; }

.offer {
  display: block;
  width: 100%;
  height: 960px;
  background-color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  text-align: center; }

.offerinfo {
  text-align: center;
  background-color: transparent;
  padding: 85px; }
  .offerinfo__title {
    font-size: 10rem;
    font-weight: 900;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 10px 0; }
  .offerinfo__subtitle {
    font-size: 3.8rem;
    text-transform: uppercase; }
  .offerinfo__description {
    display: block;
    font-size: 1.7rem;
    line-height: 1.5;
    padding: 5px 0;
    margin: 0 auto;
    width: 875px; }
  .offerinfo__logo {
    display: block;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 3rem;
    line-height: 3;
    text-transform: capitalize;
    padding: 30px; }

.offerdata {
  margin: 0 auto;
  width: 750px;
  height: 210px;
  position: relative; }
  .offerdata:after {
    content: '';
    display: block;
    position: absolute;
    width: 305px;
    height: 320px;
    z-index: 3;
    top: 50%;
    right: -20%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-image: url("../img/man.png"), url("../img/africa.svg"); }
  .offerdata__price {
    display: block;
    background-color: #3f3e41;
    width: 275px;
    height: 100%;
    padding: 20px; }
  .offerdata__start {
    display: block;
    margin: 0;
    padding-top: 80px;
    text-align: left;
    text-transform: uppercase; }
  .offerdata__cost {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 6rem;
    font-weight: 900;
    color: #fd5c08; }
    .offerdata__cost:before {
      content: attr(data-currancy);
      color: #fff;
      font-size: 3.6rem;
      font-weight: 900;
      padding-right: 5px; }
  .offerdata__info {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    position: relative; }
  .offerdata__country {
    display: block;
    text-align: left;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fd5c08; }
  .offerdata__description {
    display: block;
    color: #3f3e41;
    text-align: left;
    line-height: 1.5;
    padding: 15px 160px 15px 0; }
  .offerdata__more {
    background-color: transparent;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    color: #3f3e41;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in; }
    .offerdata__more:before {
      content: '';
      height: 10px;
      width: 10px;
      display: inline-block;
      margin: 0;
      padding-right: 5px;
      background-image: url("../img/arrow-right-orange.svg");
      background-size: contain;
      background-repeat: no-repeat; }
    .offerdata__more:hover, .offerdata__more:focus, .offerdata__more:active {
      font-weight: 900;
      color: #fd5c08; }
      .offerdata__more:hover:before, .offerdata__more:focus:before, .offerdata__more:active:before {
        height: 14px;
        width: 14px; }
  .offerdata__btn {
    background-color: #545357;
    position: absolute;
    right: 0;
    top: 90%;
    width: 140px;
    z-index: 5;
    padding: 15px;
    border: 2px solid #545357;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in; }
    .offerdata__btn a {
      background-color: transparent;
      display: block;
      height: 100%;
      width: 100%;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      text-align: center;
      -webkit-transition: all .4s ease-in;
      -o-transition: all .4s ease-in;
      transition: all .4s ease-in; }
      .offerdata__btn a:before {
        content: '';
        height: 10px;
        width: 10px;
        display: inline-block;
        margin: 0;
        padding-right: 5px;
        background-image: url("../img/arrow-right-orange.svg");
        background-size: contain;
        background-repeat: no-repeat; }
    .offerdata__btn:hover, .offerdata__btn:focus, .offerdata__btn:active {
      border: 2px solid #fd5c08; }
      .offerdata__btn:hover a, .offerdata__btn:focus a, .offerdata__btn:active a {
        font-weight: 700;
        color: #fd5c08; }
        .offerdata__btn:hover a:before, .offerdata__btn:focus a:before, .offerdata__btn:active a:before {
          height: 14px;
          width: 14px; }

.offers .slick-arrow {
  position: absolute;
  bottom: 85px;
  left: calc(50% + 460px);
  height: 60px;
  width: 60px;
  font-size: 0;
  z-index: 7;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-right.svg");
  background-color: #545357;
  outline: none;
  border: 0; }
  .offers .slick-arrow:hover, .offers .slick-arrow:focus, .offers .slick-arrow:active {
    background-color: #fd5c08; }

.offers .slick-prev {
  left: calc(50% + 399px);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.lastminute {
  width: 100%; }
  .lastminute__slides {
    height: 820px;
    width: 100%; }
  .lastminute__slide {
    height: 100%;
    width: 100%; }

.lastminute .slick-arrow {
  position: absolute;
  bottom: 0;
  left: calc(50% + 535px);
  height: 50px;
  width: 50px;
  font-size: 0;
  z-index: 7;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-right.svg");
  background-color: #545357;
  outline: none;
  border: 0; }
  .lastminute .slick-arrow:hover, .lastminute .slick-arrow:focus, .lastminute .slick-arrow:active {
    background-color: #fd5c08; }

.lastminute .slick-prev {
  left: calc(50% + 484px);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.lmoffer {
  display: block;
  height: 770px;
  min-height: 100%;
  background-color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%; }

.lmpanel {
  width: 100%;
  height: 50px;
  background-color: #fff;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .lmpanel__countdown {
    background-color: #fd5c08;
    width: 150px;
    height: 100%;
    margin-left: 20px;
    position: relative;
    display: inline-block; }
    .lmpanel__countdown span {
      display: block;
      text-align: center;
      text-transform: uppercase;
      padding: 15px 0; }
  .lmpanel__arrow-up {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 20px solid #fd5c08;
    position: absolute;
    top: -20px;
    left: 0;
    -webkit-transform: trnaslate(-100% 0);
    -ms-transform: trnaslate(-100% 0);
    -o-transform: trnaslate(-100% 0);
    transform: trnaslate(-100% 0); }
  .lmpanel__btn {
    width: 150px;
    height: 50px;
    display: inline-block;
    margin-right: 175px; }
    .lmpanel__btn a {
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: #000;
      background-color: #fff;
      padding: 15px 0;
      -webkit-transition: all .4s  ease-in;
      -o-transition: all .4s  ease-in;
      transition: all .4s  ease-in; }
      .lmpanel__btn a:before {
        content: '';
        height: 10px;
        width: 10px;
        display: inline-block;
        margin: 0;
        padding-right: 5px;
        background-image: url("../img/arrow-right-orange.svg");
        background-size: contain;
        background-repeat: no-repeat; }
      .lmpanel__btn a:hover, .lmpanel__btn a:focus, .lmpanel__btn a:active {
        font-weight: 700;
        color: #fd5c08; }
        .lmpanel__btn a:hover:before, .lmpanel__btn a:focus:before, .lmpanel__btn a:active:before {
          height: 14px;
          width: 14px; }

.lmdata {
  margin: 0 auto;
  width: 650px;
  height: 210px;
  position: absolute;
  top: 400px;
  right: 25px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .lmdata__price {
    display: block;
    background-color: #3f3e41;
    width: 210px;
    height: 100%;
    padding: 20px; }
  .lmdata__icon {
    height: 50%;
    vertical-align: middle; }
    .lmdata__icon svg {
      margin: 25px 0;
      fill: #fff;
      fill-rule: nonzero; }
  .lmdata__money {
    height: 50%; }
  .lmdata__start {
    display: block;
    margin: 0;
    text-align: left;
    text-transform: uppercase; }
  .lmdata__cost {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 6rem;
    font-weight: 900;
    color: #fd5c08; }
    .lmdata__cost:before {
      content: attr(data-currancy);
      color: #fff;
      font-size: 3.6rem;
      font-weight: 900;
      padding-right: 5px; }
  .lmdata__info {
    width: 440px;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    position: relative;
    padding: 40px; }
  .lmdata__country {
    display: block;
    text-align: left;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fd5c08; }
  .lmdata__description {
    display: block;
    color: #3f3e41;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 15px 0; }
  .lmdata__more {
    background-color: transparent;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    color: #3f3e41; }
    .lmdata__more span {
      -webkit-transition: all .4s  ease-in;
      -o-transition: all .4s  ease-in;
      transition: all .4s  ease-in; }
    .lmdata__more:before {
      content: '';
      height: 10px;
      width: 10px;
      display: inline-block;
      margin: 0;
      padding-right: 5px;
      background-image: url("../img/arrow-right-orange.svg");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-transition: all .4s  ease-in;
      -o-transition: all .4s  ease-in;
      transition: all .4s  ease-in; }
    .lmdata__more:hover span, .lmdata__more:focus span, .lmdata__more:active span {
      font-weight: 900;
      color: #fd5c08; }
    .lmdata__more:hover:before, .lmdata__more:focus:before, .lmdata__more:active:before {
      height: 14px;
      width: 14px; }
  .lmdata__btn {
    background-color: #545357;
    position: absolute;
    right: 0;
    top: 90%;
    width: 140px;
    z-index: 5;
    padding: 15px;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
    border: 2px solid #545357; }
    .lmdata__btn:hover, .lmdata__btn:focus, .lmdata__btn:active {
      border: 2px solid #fd5c08; }
      .lmdata__btn:hover span, .lmdata__btn:focus span, .lmdata__btn:active span {
        font-weight: 700;
        color: #fd5c08; }
    .lmdata__btn a {
      background-color: transparent;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      text-align: center; }

.journey {
  position: absolute;
  top: 75px;
  left: 0;
  width: 270px;
  height: 250px;
  background-color: #fd5c08; }
  .journey-wrap {
    width: 100%;
    height: 100%; }
  .journey__title {
    height: 65%;
    margin: 0;
    padding: 30px 30px 0 30px;
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: 900;
    line-height: 1.1; }
  .journey__count {
    height: 35%;
    padding: 0 30px 30px 30px; }
  .journey__time {
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3; }
  .journey__number {
    display: block;
    font-size: 2.3rem;
    font-weight: 700; }
  .journey__departure {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5; }
  .journey__arrow-down {
    width: 0;
    height: 0;
    border-left: 245px solid transparent;
    border-right: 0 solid transparent;
    border-top: 20px solid #fff; }
